*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
  background-color: rgb(19, 13, 13);
}

.navbar{
  height: 7vh;
  width: 100vw;
  background-color: rgb(75, 75, 75);
  display: flex;
}

.glow {
  font-size: 40px;
  color: rgb(255, 255, 255);
  margin-left: 15px;
  animation: glow 1s ease-in-out infinite alternate;
  animation: glow 1s ease-in-out infinite alternate;
  animation: glow 1s ease-in-out infinite alternate;
}

.home{
  display: flex;
  width: 50vw;
  justify-content: center;
  align-items: center;
  margin: auto;
  
  color: white;
}
.skills{
  color: white;
  display: flexbox;
  margin-left: 40%;
  
  
}

@keyframes glow {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
  }
  to {
    text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
  }
}

.navs{
  margin: 15px;
  /* display: inline-block; */
  display: flex;
  align-items: flex-end;
  color: antiquewhite;
  font-size: 30px bold;
  text-decoration: none;
}

.navlist{
  display: flex;
  list-style-type: none;

}

nav ul{
  height: 58px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.navs a{
  color: antiquewhite;
}

.container{
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: repeat(2, auto);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 60vw;
  margin: 15px;
  padding: 15px;
  
}

/* .video::-webkit-media-controls {
  display: none;
} */