*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
  background-color: rgb(19, 13, 13);
}

/* .navbar{
  height: 7vh;
  width: 100vw;
  background-color: rgb(75, 75, 75);
  display: flex;
} */

.glow {
  font-size: 40px;
  color: rgb(255, 255, 255);
  margin-left: 15px;
  animation: glow 1s ease-in-out infinite alternate;
  animation: glow 1s ease-in-out infinite alternate;
  animation: glow 1s ease-in-out infinite alternate;
}

.home{
  display: flex;
  width: 50vw;
  justify-content: center;
  align-items: center;
  margin: auto;
  flex-direction: column;
  color: white;
}.rv{
  display: flex;
  width: 50vw;
  justify-content: center;
  align-items: center;
  margin: auto;
  
  color: white;
}
p{
  text-align: center;
}
.skills{
  color: white;
  display: flex;
  flex-direction: column;
  /* margin-left: 40%; */
  margin: auto;
  justify-content: center;
  align-items: center;
  
}
ul{
  list-style: none;

}



@keyframes glow {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
  }
  to {
    text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
  }
}

/* .navs{
  margin: 15px;
  
  display: flex;
  align-items: flex-end;
  color: antiquewhite;
  font-size: 30px bold;
  text-decoration: none;
}

.navlist{
  display: flex;
  list-style-type: none;

}

nav ul{
  height: 58px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.navs a{
  color: antiquewhite;
} */

.container{
  display: grid;
  /* justify-content: center;
  align-items: center; */
  grid-template-columns: repeat(2, auto);
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: auto;
  margin: 40px;
  
  
}

/* .video::-webkit-media-controls {
  display: none;
} */



nav{
  background-color: rgb(75, 75, 75) ;
  height: 60px;
  width: 100%;
  display: flex;
}
nav ul{
  
  margin: 20px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
nav ul li{
  display: inline-block;
  line-height: 80px;
  margin: 0 5px;
}
nav ul li a{
  color: antiquewhite;
  font-size: 30px bold;
  text-decoration: none;
}
.checkbtn{
  font-size: 30px;
  color: antiquewhite;
  float: right;
  line-height: 80px;
  margin-right: 40px;
  display: none;
}
#check{
  display: none;
}


@media screen and (max-width:1000px){
  nav{
    flex-direction: column;
    height: 20vh;
  }
  .glow{
    justify-content: center;
    margin: 12px 0;
}
nav ul{
  justify-content: center;
  height: 14px;
}

.container{
  display: flex;
  flex-direction: column;
}
.rv{
  display: none;
}
}